@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mochiy Pop One', sans-serif;
}

body{
    background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    
}

.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}

.box{
    display: flex;
    width: 930px;

}

.img-box{
    background-color: rgba(255,255,255,0.5);
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.img-box img{
    width: 100%;
}

.form-box{
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
}

.form-box h2{
    font-size: 30px;
    color: #2b104a;
}

.form-box p{
    font-size: bold;
    color: #2c0e7e;
}

.form-box p a{
    color: #7b39c8;
    text-decoration: none;
}

.form-box form{
    margin: 20px 0;

}

form .input-group{
    margin-bottom: 15px;
}
form .input-group label{
    color: #2c0e7e;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form .input-group input{
    width: 100%;
    height: 47px;
    background-color:rgba(255,255,255,0.32) ;
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;

}

form .input-group input:focus{
    border-color: purple;
}
form .input-group button{
    width: 100%;
    height: 47px;
    background: #7b39c8;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: antiquewhite;
    cursor: pointer;
    font-size: 16px;
}